/*-------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* +++++++++++++++++++++++++++++++++
  Custom classes
  ++++++++++++++++++++++++++++++++++ */
.red-color {
  color: #ff004a;
}
.grey-color {
  color: grey;
}

/* +++++++++++++++++++++++++++++++++
  Header
  ++++++++++++++++++++++++++++++++++ */

header {
  background-color: #333;
}

nav .logo {
  font-size: x-large;
}

.nav-link {
  color: white;
  font-size: larger;
}

div li {
  padding-left: 1%;
  padding-right: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav .logo {
  color: #333;
  padding: 5px;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
  font-size: 22px;
  border-radius: 5px;
}

header nav .logo:hover {
  background-color: rgb(241, 239, 239);
  color: white;
  transition: 0.3s;
}

.navigation {
  padding: 0;
  margin: auto;
}
/* font-weight: bolder; */

.nav-item {
  display: inline-block;
  list-style-type: none;
  margin-left: 5px;
}

.nav-item a {
  font-size: 5rem;
  padding: 6px 20px;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
  font-size: 18px;
  border-radius: 5px;
}

.nav-item a:hover {
  background-color: rgb(226, 216, 216);
  color: white;
  transition: 0.3s;
}

a.nav-link {
  font-size: 1.5rem;
}

/* +++++++++++++++++++++++++++++++++
  banner
  ++++++++++++++++++++++++++++++++++ */

.banner {
  background-image: linear-gradient(
      to top,
      rgba(245, 246, 252, 0.52),
      rgba(109, 51, 53, 0.73)
    ),
    url(../images/image1.jpeg);
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.banner-content-1 h4 {
  font-size: larger;
}
.banner-content-2 h1 {
  font-size: 80px;
}

@media screen and (max-width: 468px) {
  /* .banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .banner-content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }
  .banner-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
  }

  .banner h1 {
    font-size: 64px;
  }
  .banner h4 {
    font-size: 30;
  }

  .card-parent {
    position: relative;
    top: -50px !important;
  }

  .banner h4 {
    text-align: center;
  }

  .banner h1 {
    text-align: center;
  }
}

/* +++++++++++++++++++++++++++++++++
  cards
  ++++++++++++++++++++++++++++++++++ */

.icon {
  background-color: #ff004a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.card-parent {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  position: relative;
  top: -130px;
}
.card {
  padding-top: 4%;
}

/* +++++++++++++++++++++++++++++++++
easy-way
  ++++++++++++++++++++++++++++++++++ */
.easy-way {
  background-image: url(../images/image2.jpeg);
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 8% 1%;
}

.upper-content {
  background-color: #f2f2f2;
  padding: 9% 5%;
  border-radius: 7px;
  margin-bottom: 5%;
}

.lower-content-1 {
  background-color: #f2f2f2;
  padding: 10% 5%;
  border-radius: 7px;
}

.lower-content-2 {
  background-color: #f2f2f2;
  padding: 10% 5%;
  border-radius: 7px;
}

/* +++++++++++++++++++++++++++++++++
young-products
  ++++++++++++++++++++++++++++++++++ */

.product-image-1 {
  background-image: url("../images/image3.jpeg");
  min-height: 400px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-image-2 {
  background-image: url("../images/image4.jpeg");
  min-height: 400px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-content {
  background-color: black;
  min-height: 400px;
  padding: 8% 5%;
}

/* +++++++++++++++++++++++++++++++++
creative-ideas
  ++++++++++++++++++++++++++++++++++ */

.creative-image-1 {
  background-image: url("../images/image5.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-2 {
  background-image: url("../images/image6.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-3 {
  background-image: url("../images/image7.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-4 {
  background-image: url("../images/image8.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-5 {
  background-image: url("../images/image9.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-6 {
  background-image: url("../images/image10.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-7 {
  background-image: url("../images/image11.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.creative-image-8 {
  background-image: url("../images/image12.jpeg");
  min-height: 200px;
  min-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* +++++++++++++++++++++++++++++++++
awesome-section
  ++++++++++++++++++++++++++++++++++ */

.awesome-image img {
  width: 100%;
  height: 100%;
}

/* +++++++++++++++++++++++++++++++++
designBrand-section
  ++++++++++++++++++++++++++++++++++ */

.design-brand {
  background-image: url(../images/image14.jpeg);
  min-height: 80vh;
  max-width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* +++++++++++++++++++++++++++++++++
complaints-service-section
  ++++++++++++++++++++++++++++++++++ */

.complaint-service {
  background-image: linear-gradient(
      to top,
      rgba(136, 138, 145, 0.52),
      rgba(0, 0, 0, 0.596)
    ),
    url(../images/image15.jpeg);
  min-height: 100vh;
  max-width: 100%;

  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.complaint-service-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6% 10%;
  border: #f2f2f2 solid;
}

/* +++++++++++++++++++++++++++++++++
contact-info-section
  ++++++++++++++++++++++++++++++++++ */

.contact {
  background-color: #f6f5fb;
}

.contact i {
  color: #827f94;
}

.contact span {
  color: #827f94;
}

.contact-info {
  border-radius: 8px;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(46, 42, 86, 1) 13%,
    rgba(73, 69, 117, 1) 100%
  );
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

input[type="text"],
select,
textarea,
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  border: solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form button {
  background-color: #2c2952;
}
.contact-us {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.contact-us form button {
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-weight: bold;
  font-size: larger;
}

/* +++++++++++++++++++++++++++++++++
gmap-section
  ++++++++++++++++++++++++++++++++++ */
.gmap {
  background-color: black;
}

.map-content {
  display: flex;
  align-items: center;
}

/* +++++++++++++++++++++++++++++++++
footer
  ++++++++++++++++++++++++++++++++++ */
footer {
  background-color: #333;
  padding: 2% 0;
}
.foo-con{
  display: flex;
  align-items: center;
  justify-content: center;
}
